<a href="https://colab.research.google.com/github/mminjjii/py231019/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To-Do List를 작성하시오.
   - 2023년 10월 19일
   - (1) 09:20 도서관에서 책빌리기
   - (2) 11:10 컴퓨팅적사고와 기초코딩 수업
   - (3) 13:00 점심식사
   - (4) 14:10 교양수업
   - (5) 16:00 파이썬 공부 및 레포트 작성
   - (6) 17:40 저녁식사 및 집안일 돕기
   - (7) 19:00 LOL하기

In [19]:
print("1.To-Do List를 작성하시오.")
print("2023년 10월 19일")
print("(1) 9:20 도서관에서 책빌리기")
print("(2) 11:10 컴퓨팅적사고와 기초코딩 수업")
print("(3) 13:00 점심식사")
print("(4) 14:10 교양수업")
print("(5) 16:00 파이썬 공부 및 레포트 작성")
print("(6) 17:40 저녁식사 및 집안일 돕기")
print("(7) 19:00 LOL하기")

1.To-Do List를 작성하시오.
2023년 10월 19일
(1) 9:20 도서관에서 책빌리기
(2) 11:10 컴퓨팅적사고와 기초코딩 수업
(3) 13:00 점심식사
(4) 14:10 교양수업
(5) 16:00 파이썬 공부 및 레포트 작성
(6) 17:40 저녁식사 및 집안일 돕기
(7) 19:00 LOL하기

2. 인사말 출력하기
 - 식사하셨습니까? 행님

In [28]:
print("2. 인사말 출력하기")
print("식사하셨습니까? 행님")

2. 인사말 출력하기
식사하셨습니까? 행님

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
 - 박보검 : 90점
 - 션     : 92점
 - 도룡용 : 80점
 - 차은우 : 99점
 - 국어 점수 순위
 - 1등 차은우
 - 2등 션
 - 3등 박보검
 - 4등 도룡용

In [65]:
print ("3.학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.")
print ("박보검 : 90점")
print ("션 : 92점")
print ("도룡용 : 80점")
print ("차은우 : 99점")
print ("국어 점수 순위")
print ("1등 차은우")
print ("2등 션")
print ("3등 박보검")
print ("4등 도룡용")

3.학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
박보검 : 90점
션 : 92점
도룡용 : 80점
차은우 : 99점
국어 점수 순위
1등 차은우
2등 션
3등 박보검
4등 도룡용

In [81]:
n1 = input("박보검 점수")
n2 = input("션 점수")
n3 = input("도룡용 점수")
n4 = input("차은우 점수")
print ("1등 차은우",n4,"점")
print ("2등 션",n2,"점")
print ("3등 박보검",n1,"점")
print ("4등 도룡용",n3,"점")

박보검 점수90
션 점수92
도룡용 점수80
차은우 점수99
1등 차은우 99 점
2등 션 92 점
3등 박보검 90 점
4등 도룡용 80 점

In [79]:
n1 =int(input("N1의 값을 입력하시오, "))
n2 = int(input("N2의 값을 입력하시오, "))
total =  n1 + n2
average = total / 2
print(average )

N1의 값을 입력하시오, 90
N2의 값을 입력하시오, 92
91.0